@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.menu li{
  padding: 0px 10px;
  font-size: 16px;
}
h1{
 margin-right: 310px;
 color: white;
 float: left;

}
li,a{
 margin-right: 20px;
 color: white;

}
li,button{
  color: #00525e;
}
.toggle{
  font-size: 30px;
  display: none;
}










@media  screen and(max-width: 600px) {
  nav{
    display: block;
    position: relative;
    padding: 15px 20px;
  }
  .menu{
    margin-top: 15px;
    display: none;
  }
  .menu.active,.toggle{
    display: block;
  }
  .toggle{
    position: absolute;
    top: 15px;
    right: 20px;
  }

}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.9;
 }
 .dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #FFF;
color: orange;}

.dropdown:hover .dropdown-content {
  display: block;
}




.active {
  background-color: #717171;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

* {box-sizing:border-box}

.slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

* {
  box-sizing: border-box
}
.image-slideshow {
max-width: 1320px;
position: relative;
margin: auto;
}
img {
width: 100%;

}

.fade {
animation-name: fade;
animation-duration: 3s;
}

.home_info{
  text-align: justify;
}
.home_info p{
  font-size: 20px;
  margin-right: 60px;
  margin-left: 70px;
  
}
.home_info h2{
  text-align:center;
  color:#493129;
}


/**************************** Cards view ****************************/
.card img{
  width:25%;
  height:25%;
  border-radius: 50%;
  margin-top: 60px;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   text-align: center;
   text-indent: 8%; 
   width:320px;
   margin-top: 40px;
   height:400px;
   background-color: gray;
   margin-left: 80px;
   opacity: 1.0;
   margin-right: 80px;
 }

 .cards{

  text-align:center;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap :0px;
}

.title {
  text-align:center;
  color: grey;
  font-size: 18px;
  display: inline-flex;
}


button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #493129;
  text-align: center;
  cursor: pointer;
  width: 81%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


.flex-container{
  display: flex;
  
}

.flex-child{
  flex:1;
  background-color: #cc5200;
  height: 450;
}

.flex-child:first-child{
  margin-right: 10px;
  background-color: #493129;
  color:antiquewhite;
  width:5px;
  text-align: justify;
}

.flex-child button{
  size: 2px;
}

.cont:hover img{
  width:400px;
  height: 200px;
  transition: 1s all ease-in-out;
  transform: scale(0.9);

}

#navbar{
  overflow:hidden;
  background-color:#ffdec7;
}

#navbar a {
float:left;
display:block;
color:#1b1f1d;
text-align: center;
padding: 14px;
text-decoration: none;

}
.content{
  padding: 20px;
}

#navbar.sticky{
  position: fixed;
  top: 5;
  width: 100%;
}

#topnav{
  background-color: #8b597b;
  overflow: hidden;
}

#topnav a {
  float:left;
  display:block;
  color:#f7ebf3;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  
  }
#topnav.content{
    padding: 50px;
  }
  
#topnav.sticky{
    position: fixed;
    top: 0;
    width: 100%;
  }

.container1{
  
  width: 105%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 9%;
}
.news{
  width:90%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 30px;
 
}

.news img{
  width:300px;
  height: 200px;
  cursor: pointer;
  border-color: #1b1f1d;
}


/************** Foote Part *******************************/